@import "../index.scss";

.ingredientItem
{
    width:120px;
    height: 120px;
    @include centerElements;
    flex-direction: column;

    img
    {
        width:50%;
        height: 50%;
    }

    button 
    {
     @include button;
    }
}