
@import "../index.scss";
.search
{
    width:60%;
    // background-color: blue;
    // @include centerElements;
    // align-items: flex-start;
    // flex-direction: column;
    margin-top: 15px;

    form
    {
        width:100%;
        @include centerElements;
        // background-color: red;
        margin-top: 50px;
        gap:5px;
        font-size: 22px;

        .searchRecipes
        {
            @include button;
            margin-right: 10px;
        }
    }

    input
    {
        padding-left:10px;
        width:50%;
        font-size: 26px;
        height: 60px;
        border-radius: 5px;
        box-shadow: inset 1px 1px 5px black;
    }

    .close
    {
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        &:active{
            color:grey;
        }
    }

    .ingredients
    {
        display: flex;
        width:100%;
        flex-wrap: wrap;
    }

    .usedIngredients
    {
        display: flex;
        list-style: none;
        gap:5px;
        margin-bottom: 10px;
        margin-top: 10px;

        li
        {
            border: 2px solid $main-color;
            color:#000000;
            padding: 3px 12px 3px 12px;
            border-radius: 5px;
        }
    }

    .loading
    {
        width: 80%;
        // background-color: red;
        @include centerElements;

        img
        {
            width:50%;
            
        }
    }

    .noFound
    {
        // background-color: red;
        color:$main-color;
        font-size: 24px;
        font-weight: bold;
        width:70%;
        text-align: center;
    }
}

@media only screen and (max-width:600px)  
{

    .search
    {
        width:100%;

        input
        {
            width:70%;
        }

        .ingredients
        {
            @include centerElements;
        }

        form
        {
            display: flex;
            flex-direction: column;

            input
            {
                margin-top:10px;
                margin-bottom:10px;
            }
        }
    }

    .loading{
        @include centerElements;
    }
}